.nav-collapse.collapse {
  display: block;
  margin: 0 0 5px 0;
  min-height: 26px;
  height: auto;
}
.dropdown, .dropup {
  float: right;
  padding: 4px 8px;  
}
.dropdown-menu {
  left: auto;
  float: right;
  right: 0;
  .border-radius(@borderRadiusAsymetric);
  border: 2px solid @grayLight;
  margin-top: 4px;
}
.nav {
  margin-bottom: 5px;
}